#sidebar {
  width: 450px;
}
#sidebar #custom_html-9 > div {
  display: flex;
  justify-content: space-between;
  width: 450px;
}
#sidebar #custom_html-9  > div > div {
  width: 49%;
}
#main {
  width: calc(100% - 450px);
}
@media only screen and (max-width: 767px) {
  #sidebar {
    width: 100%;
  }
  #main {
    width: 100%;
  }
  #sidebar #custom_html-9 > div {
    width: 100%;
  }
}
#result .swatch {
  display: block;
  float: left;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 150px;
  height: 150px;
}
#result .swatch div.palette {
  width: 0px;
  height: 0px;
  border-right: 150px solid transparent;
  position: absolute;
}
#result .swatch div.palette.solo {
  width: 150px;
  height: 150px;
  border-right: none;
}

#result .swatch div.match {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 150px solid transparent;
}
#result .swatch div.match.solo {
  width: 150px;
  height: 150px;
  border-left: none;
}

#result .swatch div.detail {
  position: absolute;
  text-align: left;
  font-size: 12px;
  width: 150px;
  height: 150px;
}
@media only screen and (max-width: 767px) {
  #result .swatch {
    width: 90px;
    height: 90px;
  }
  #result .swatch div.palette {
    border-right: 90px solid transparent;
  }
  #result .swatch div.palette.solo {
    width: 90px;
    height: 90px;
  }
  
  #result .swatch div.match {
    border-left: 90px solid transparent;
  }
  #result .swatch div.match.solo {
    width: 90px;
    height: 90px;
  }
  
  #result .swatch div.detail {
    width: 90px;
    height: 90px;
    font-size: 10px;
  }
}
#result .swatch div.detail div.palette-detail {
  position: absolute;
  top: 2px;
  left: 5px;
  font-weight: normal;
}
#result .swatch div.detail div.match-detail {
  text-align: right;
  position: absolute;
  bottom: 2px;
  right: 7px;
  font-weight: normal;
}
#canvas-wrapper #canvas {
  width: 100%;
  height: 0px;
}

input#file-input {
  margin-bottom: 20px;
}
div#harmony-choice {
  margin-bottom: 20px;
}
div#harmony-choice a {
  text-align: center;
}
