#color-swatches {
}
a.swatch {
  position: relative;
}
#color-swatches a.swatch {
  margin: 0px 2px 2px 0px;
  float: left;
  display: block;
}
#color-swatches a.swatch span.color {
  display: block;
}
a.swatch.used span.color:after {
  content: '•';
  position: relative;
  font-size: 32px;
  top: calc(50% - 23px);
  left: calc(50% - 6px);
  color: #FFFFFF;
}
span.label {
  display: none;
}
#blank {
  height: 200px;
  width: 100%;
  position: relative;
}
#blank a.swatch {
  height: 140px;
  width: 80px;
  border: 1px solid #999;
  padding: 5px;
  background: #FFFFFF;
  box-shadow: 1px 1px 1px #EFEFEF;
}
#blank a.swatch span.color {
  height: 140px;
  width: 80px;
  display: block;
}
#blank a.swatch span.label {
  font-size: 12px;
  display: block;
  background: #FFFFFF;
  color: #999;
  position: absolute;
  text-align: center;
  bottom: 0px;
  padding: 10px 0px;
  width: calc(100% - 10px);
}
#blank a.swatch span.label span.man {
  font-weight: bold;
  display: none;
}
div#limit-to {
  margin-top: 20px;
  text-align: center;
}
div#limit-to a {
  display: inline-block;
  margin: 5px;
  border: 1px solid #02ceba;
  padding: 3px 10px;
  letter-spacing: 1px;
  background-color: #FFFFFF;
  border: 1px solid #02ceba;
  color: #02ceba;
}
div#limit-to a:hover {
  text-decoration: none;
  background-color: #c6efeb;
}
div#limit-to a.selected {
  color: #FFFFFF;
  border: 1px solid #02ceba;
  background-color: #02ceba;
}

div#custom_html-8 #buttons {
  text-align: center;
  margin-top: 20px;
}
div#custom_html-8 #reset {
  margin: 10px 0px;
}
