div#swatches h3 {
  margin: 30px 0px 0px 0px;
}

a.swatch {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

div#sort-by {
  display: flex;
  justify-content: space-between;
}

div#sort-by input {
  margin-right: 2px;
}

