p.expenses {
border-top: 1px solid #02ceba;
padding-top: 20px;
font-size: 1.1em;
font-style: italic;
}
.post-entry h4 {
  margin-bottom: 5px;
}

.ui-tabs.ui-tabs-vertical {
    padding: 0;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 150px;
    background: #FFF;
    border-radius: 0;
    border-right: 1px solid gray;
}

.ui-tabs .ui-state-active, .ui-tabs .ui-widget-content .ui-state-active, .ui-tabs .ui-widget-header .ui-state-active, .ui-tabs a.ui-button:active, .ui-tabs .ui-button:active, .ui-tabs .ui-button.ui-state-active:hover {
  background: #02ceba;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: calc(100% - 150px);
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel a {
color: #02ceba;
}

#custom_html-3 h2 {
  font-size: 1.5em;
}
#custom_html-3 h3 {
  font-weight: bold;
  margin-top: 25px;
}
#custom_html-3 h3.first {
  margin-top: 5px;
}

@media only screen and (max-width: 767px) {
  .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: none;
    width: 100%;
    border: none;
  }
  .ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    width: 100%;
    border: none;
  }
  .ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    border-right: 1px solid gray;
    right: 0px;
  }
  .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    border-right: 1px solid gray;
  }
}
